<div class="text-center">
  <h1>SUREFIT WELLNESS CENTRE LTD</h1>
  <p>Gym, Spa & Fitness Shop<br/>
  Head office: 3 Felicia Koleosho Street, off Agbaoku Street, Opebi, ikeja.<br/>
  Tel: 08023609696, 07025028126<br/>
  Email:surefitwellness@gmail.com</p>
</div>
<br/>
<div class="h3"> Consent Form For <%= @customer.full_name %> </div>

<div>
  <p>I acknowledge that I have been advised to consult a physician before undertaking any form of exercise and my physician has certified that I would not be harmed by my participation in any physical activities. </p>
  <p>I am over 18 and sound mind. I therefore waive and release any and all rights and claims for damages which I may have against Surefit Wellness Centre Ltd, for any injuries, loss or damages suffered by me during the whole period of my membership and in the course of the use of facilities and my participation in any of the programs. </p>
  <p>I hereby agree to abide by the rules and regulations of the Surefit Wellness Centre Ltd which I have read and understood.</p>
  <p>I agree that the management of Surefit Wellness Centre Ltd reserve the right to revoke my membership for any breach of Gym rules and regulations.</p>
</div>

<%# <%= link_to 'Print PDF', consent_form_customer_path(@customer, :format => :pdf) %> %>